.row
  .span8.offset4
    .well.answer(style="padding: 19px 19px 49px 19px;")
      dl
        dt DS Analytics provides the answer to the question:
          dd How many people are on my site right now?  
      .login_button
        a.btn.large.info Signup

!= partial('stats')

script(type='text/javascript')
  var socket = io.connect('http://localhost');
  setInterval( function(){socket.emit('hitme!')}, 5000);
  socket.on('count', function(count) {
  $('.bigger').html(count['count']);
  });


