.twipsies.well
  dl
    dt DS Analytics provides the answer to the question:
        dd How many people are on my site right now?

#analytics
  span(class="big") There are about 
  .bigger= count 
  span(class="big") visitors active on this site right now.

script(type='text/javascript')
  var socket = io.connect('http://localhost');
  setInterval( function(){socket.emit('hitme!')}, 5000);
  socket.on('count', function(count) {
  $('.bigger').html(count['count']);
  });


