!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
    script(src='/socket.io/socket.io.js')
    body(background="/images/broken_noise.png")
      .topline
      .container
        .topbar
          .topbar-inner
            .container
              a(class="brand", href="/", style="color:#E2E2B1;font-family: 'Lobster', cursive;") DS Analytics
              ul(class="nav", style="float:right;")
                li(class="active")
                  a(href="/") Home
                if typeof current_user == 'undefined' || current_user == null
                  li
                    a(href="/new_account") Sign Up
                  li
                    a(href="/login") Login
                else
                  li
                    a(href="/logout") Logout
                  li
                    a(href="/setup") Config
                  li
                    a(href="/auth") Live Stats



        #main            
          !{body}

script(src="/javascripts/client_min.js")
script(type="text/javascript")
  if (typeof dsanalytics != 'undefined') {
  dsanalytics.checkCookie();
  dsanalytics.pixel = new Image();
  dsanalytics.pixel.src = 'http://localhost:5000/tracker?dsanalytics_sid=1111&dsanalytics_vid=' + dsanalytics.getCookie('dsanalytics_id');
  }
