!!! 5
html
  head
    title= title
    link(rel='stylesheet/less', href='/lib/bootstrap.less')
    link(rel='stylesheet/less', href='/lib/styles.less')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/less-1.1.5.min.js')
    body
      .container
        .topbar
          .topbar-inner
            .container
              a(class="brand", href="#") DS Analytics
              ul(class="nav")
                li(class="active")
                  a(href="#overview") Overview
                li
                  a(href="#about") About
                li
                  a(href="#about") About
                li
                  a(href="#about") About
        #main            
          !{body}

script(src="/javascripts/client_min.js")
script(type="text/javascript")
  if (typeof dsanalytics != 'undefined') {
  dsanalytics.checkCookie();
  var pixel = new Image();
  pixel.src = 'http://localhost:3000/tracker?dsanalytics_sid=1111&dsanalytics_vid=' + dsanalytics.getCookie('dsanalytics_id');
  }
