!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js")
    script(src='/socket.io/socket.io.js')
    body
      .topline
      .container
        .topbar
          .topbar-inner
            .container
              a(class="brand", href="#", style="color:#E2E2B1;font-family: 'Lobster', cursive;") DS Analytics
              ul(class="nav")
                li(class="active")
                  a(href="#overview") Overview
                li
                  a(href="#about") About
                li
                  a(href="#about") About
                li
                  a(href="#about") About
        #main            
          !{body}

script(src="/javascripts/client_min.js")
script(type="text/javascript")
  if (typeof dsanalytics != 'undefined') {
  dsanalytics.checkCookie();
  var pixel = new Image();
  pixel.src = 'http://localhost:5000/tracker?dsanalytics_sid=1111&dsanalytics_vid=' + dsanalytics.getCookie('dsanalytics_id');
  }
