h1 Jade - node template engine


form(method="post", action="/login")
  input(type="text", name="user[name]", style="display:block;")
  input(type="text", name="user[email]", style="display:block;")
  button(type="submit", class="btn primary") Login
