.button_wrapper
  h1 Login


!= partial('flash');

form(method="post", action="/login")
  .clearfix
    label(for="xlinput") Email
    .input
      input(type="text", name="user[email]", id="xlInput", class="xlarge")
  .clearfix      
    label(for="xlinput") Password
    .input
      input(type="text", name="user[password]", id="xlInput", class="xlarge")
  .clearfix
    .button_wrapper
      #button
        button(type="submit", class="btn primary large") Login
