.button_wrapper
  h1 Create an account

!= partial('flash');

form(method="post", action="/new_account")
  .clearfix      
    label(for="xlinput") Email
    .input
      input(type="text", name="user[email]", id="xlInput", class="xlarge")
  .clearfix      
    label(for="xlinput") Password
    .input
      input(type="password", name="user[password]", id="xlInput", class="xlarge")
  .clearfix      
    label(for="xlinput") Site Name
    .input
      input(type="text", name="user[sitename]", id="xlInput", class="xlarge")
  .button_wrapper
    #button
      button(type="submit", class="btn primary large") Sign Up
