<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>DS Analytics - Site</title>
 
</head>
<body>

<script type="text/javascript">
function setCookie(c_name,value,exdays){
	var exdate=new Date();
	exdate.setDate(exdate.getDate() + exdays);
	var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
	document.cookie=c_name + "=" + c_value;
}

function getCookie(c_name){
	var i,x,y,ARRcookies=document.cookie.split(";");
	for (i=0;i<ARRcookies.length;i++){
  	x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
  	y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
  	x=x.replace(/^\s+|\s+$/g,"");
  	if (x==c_name){
    	return unescape(y);
    }
  }
}

function checkCookie(){
	var dsanalytics_id=getCookie("dsanalytics_id");
  if (dsanalytics_id!=null && dsanalytics_id!=""){
  }
	else{
		setCookie('dsanalytics_id',Math.floor(Math.random()*10000),30);
  }
}
</script>


<script type="text/javascript">
	checkCookie();
</script>

<script type="text/javascript">
	var pixel = new Image();
	pixel.src = 'http://localhost:8000/?dsanalytics_sid=1234&dsanalytics_vid=' + getCookie('dsanalytics_id');
</script>


</body>
</html>
