@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

@import url(http://fonts.googleapis.com/css?family=Lobster);

@import 'bootstrap.css';
body {
  min-height: 600px;
  background-color: #2e2e2e;
  padding-top: 40px;
  font-family: 'Droid Sans', sans-serif;
}
.topline {
  background-color: #cc3f35;
  height: 5px;
}
.answer {
  background-color: #F5F5F5;
}
div#main {
  margin-top: 30px;
}
.brand {
  color: #e2e2b1;
}
div.topline {
  height: 5px;
  background-color: #cc3f35;
}
div#analytics {
  color: #e2e2b1;
  margin-top: 30px;
}
.big {
  font-size: 50px;
}
.bigger {
  padding: 100px 0 100px 0;
  margin: 50px 0 50px 0;
  font-size: 250px;
}
.button_wrapper {
  padding-left: 150px;
}
